* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #f4f6f8;
}

/* ===== NAVBAR ===== */
.navbar {
    background: #0f172a;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* ===== MAIN ===== */
.container {
    padding:20px;
    }

